<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:name}) %>
        <div class="popup" id="popup">
            <span class="close_btn" id="close_popup">X</span>
            <div class="product_card" id="product_details">


            </div>
        </div>
        <br>
        <div id="cart_items">

        </div>
        <% let total_bill=0; cartList.forEach(cartItem=> {
            total_bill+=cartItem.price*cartItem.quantity
            %>

            <div class="cart_product_card box" id="<%= cartItem.cid %>">
                <img src=<%=cartItem.image %> class="item cart_product_img" alt="...">

                <div class="item">
                    <p class="cart_product_title">
                        <%= cartItem.title %>
                    </p>
                    <p class="product_desc">
                        <%= cartItem.description %>
                    </p>
                    <p class="product_price"> Rs. <span id=p<%=cartItem.cid %> ><%= cartItem.price %></span> /- </p>

                </div>



                <div class="item">
                    <p id=a<%=cartItem.cid %> class="product_price"> Rs. <%= (cartItem.price * cartItem.quantity ) %> /-
                    </p>
                    <br>
                    <a class="circularButton" onclick="decreaseQuantity(<%= cartItem.cid %>)"><span
                            class="material-symbols-outlined">
                            remove
                        </span></a>
                    <span class="product_quantity" id=q<%=cartItem.cid %> > <%= cartItem.quantity %> </span>


                    <a class="circularButton" onclick="increaseQuantity(<%= cartItem.cid %>)"><span
                            class="material-symbols-outlined">add</span></a>
                    <br>
                    <br>
                    <br>
                    <a class="secondaryButton" id=r<%=cartItem.pid %> onclick="removeFromCart(<%= cartItem.pid %>
                            )">Remove</a>
                    <a class="primaryButton" onclick="">Buy Now</a>
                </div>

            </div>


            <% }); %>
                <div class="contain">
                    <span class="heading">Total Amount</span>
                    <sapn class="product_price" style="display: contents;"> Rs. <span id="total_amount">
                            <%= (total_bill ) %>
                        </span> /- </sapn>
                </div>
                
                <div class="contain">
                    <a class="primaryButton" onclick="">Oder Now</a>

                    </div>
                    <script src="cart.js"></script>
                <%- include('../partials/tail.ejs') %>